body { background-color: aqua; 
    font-family: Georgia;
    text-align: justify;
}
h1 { color: darkblue; 
    font-size: 60px; 
    font-family: cosmicsansms; 
}
h4 { text-align: right;
    font-style: italic;
}
